/* Datacom | Global style tokens */

:root {
  --color-midnight-blue-base: #000a14;
  --color-midnight-blue-minus-1: #1a232c;
  --color-midnight-blue-minus-3: #80858a;
  --color-midnight-blue-minus-4: #b3b6b9;
  --color-midnight-blue-minus-5: #e6e7e8;
  --color-midnight-blue-coral-1: #ff5733;
  --color-royal-purple-light: #b888ff;
  --color-royal-purple-deep: #6b2fc6;
  --color-admiral-blue-base: #00167f;
  --color-admiral-blue-minus-1: #334599;
  --color-admiral-blue-minus-2: #808bbf;
  --color-admiral-blue-minus-3: #ccd0e5;
  --color-admiral-blue-plus-1: #001266;
  --color-admiral-blue-plus-2: #000b40;
  --color-admiral-blue-plus-3: #000419;
  --color-electric-blue-base: #002bfe;
  --color-electric-blue-minus-1: #3366f3;
  --color-electric-blue-minus-2: #80a0fb;
  --color-electric-blue-minus-3: #ccd9fc;
  --color-electric-blue-minus-4: #f2f4ff;
  --color-electric-blue-plus-1: #0022cb;
  --color-electric-blue-plus-2: #00167f;
  --color-electric-blue-plus-3: #000933;
  --color-empress-teal-base: #00d1c4;
  --color-empress-teal-minus-1: #33dad0;
  --color-empress-teal-minus-2: #80e8e2;
  --color-empress-teal-minus-3: #ccf6f3;
  --color-empress-teal-plus-1: #00a79d;
  --color-empress-teal-plus-2: #006962;
  --color-empress-teal-plus-3: #002a27;
  --color-sky-blue-v-2-base: #4adeff;
  --color-sky-blue-v-2-minus-1: #6ee5ff;
  --color-sky-blue-v-2-minus-2: #a5efff;
  --color-sky-blue-v-2-minus-3: #dbf8ff;
  --color-sky-blue-v-2-plus-1: #3bb2cc;
  --color-sky-blue-v-2-plus-2: #256f80;
  --color-sky-blue-v-2-plus-3: #0f2c33;
  --color-candy-pink-base: #ff0070;
  --color-candy-pink-minus-1: #ff338d;
  --color-candy-pink-minus-2: #ff80b8;
  --color-candy-pink-minus-3: #ffcce2;
  --color-candy-pink-plus-1: #cc005a;
  --color-candy-pink-plus-2: #800038;
  --color-candy-pink-plus-3: #330016;
  --color-tangerine-orange-base: #ff5c00;
  --color-tangerine-orange-minus-1: #ff7d33;
  --color-tangerine-orange-minus-2: #ffae80;
  --color-tangerine-orange-minus-3: #ffdecc;
  --color-tangerine-orange-plus-1: #cc4a00;
  --color-tangerine-orange-plus-2: #802e00;
  --color-tangerine-orange-plus-3: #331200;
  --color-datapay-turquoise-base: #01dbe5;
  --color-datapay-turquoise-minus-1: #34e2ea;
  --color-datapay-turquoise-minus-2: #80edf2;
  --color-datapay-turquoise-minus-3: #ccf8fa;
  --color-datapay-turquoise-minus-4: #f2fdfe;
  --color-datapay-turquoise-plus-1: #01afb7;
  --color-datapay-turquoise-plus-2: #016e73;
  --color-datapay-turquoise-plus-3: #002c2e;
  --color-timpani-sapphire-base: #0072ed;
  --color-timpani-sapphire-minus-1: #338ef1;
  --color-timpani-sapphire-minus-2: #80b9f6;
  --color-timpani-sapphire-minus-3: #cce3fb;
  --color-timpani-sapphire-minus-4: #f2f8fe;
  --color-timpani-sapphire-plus-1: #005bbe;
  --color-datascape-indigo-base: #7827ff;
  --color-datascape-indigo-minus-1: #9352ff;
  --color-datascape-indigo-minus-2: #bc93ff;
  --color-datascape-indigo-minus-3: #e4d4ff;
  --color-datascape-indigo-minus-4: #f8f4ff;
  --color-datascape-indigo-plus-1: #601fcc;
  --color-datascape-indigo-plus-2: #3c1480;
  --color-datascape-indigo-plus-3: #180833;
  --color-gateway-gold-base: #feb301;
  --color-gateway-gold-minus-1: #fec234;
  --color-gateway-gold-minus-2: #ffd980;
  --color-gateway-gold-minus-3: #fff0cc;
  --color-gateway-gold-minus-4: #fffbf2;
  --color-gateway-gold-plus-1: #cb8f01;
  --color-gateway-gold-plus-2: #7f5a01;
  --color-gateway-gold-plus-3: #332400;
  --color-accent-pink-20: #faccdf;
  --color-accent-pink-40: #f599bf;
  --color-accent-pink-60: #f0669f;
  --color-accent-pink-80: #eb337f;
  --color-accent-pink-base: #ff0070;
  --color-dark-blue-20: #ced0d7;
  --color-dark-blue-40: #9da2af;
  --color-dark-blue-60: #6c7488;
  --color-dark-blue-80: #3b4660;
  --color-dark-blue-base: #000a14;
  --color-datacom-blue-20: #ccd3e2;
  --color-datacom-blue-40: #99a7c6;
  --color-datacom-blue-60: #667ba9;
  --color-datacom-blue-80: #334f8c;
  --color-datacom-blue-base: #00125e;
  --color-action-blue: #002bfe;
  --color-action-blue-hover: #0022cb;
  --color-light-blue-20: #e3f3ff;
  --color-light-blue-40: #c8e7ff;
  --color-light-blue-60: #acdbff;
  --color-light-blue-80: #91cfff;
  --color-light-blue-base: #80a0f8;
  --color-extra-light-blue-20: #fafcff;
  --color-extra-light-blue-40: #f5f9ff;
  --color-extra-light-blue-60: #eff6ff;
  --color-extra-light-blue-80: #eaf3ff;
  --color-extra-light-blue-base: #f2f4ff;
  --color-cobalt-blue-20: #d1daf0;
  --color-cobalt-blue-40: #a3b6e0;
  --color-cobalt-blue-60: #7692d2;
  --color-cobalt-blue-80: #486dc2;
  --color-cobalt-blue-base: #0022cb;
  --color-sky-blue-20: #dbedf8;
  --color-sky-blue-40: #b6daf1;
  --color-sky-blue-60: #92c9ea;
  --color-sky-blue-80: #6db6e3;
  --color-sky-blue-base: #00a7e1;
  --color-accent-orange-20: #fcdbd4;
  --color-accent-orange-40: #f9b7aa;
  --color-accent-orange-60: #f69380;
  --color-accent-orange-80: #f36f56;
  --color-accent-orange-base: #ff5c00;
  --color-rag-red: #c80000;
  --color-rag-amber: #b98922;
  --color-rag-green: #33913a;
  --color-datacom-black: #151515;
  --color-darkest-grey: #333333;
  --color-dark-grey: #666666;
  --color-grey: #999999;
  --color-light-grey: #dadada;
  --color-extra-light-grey: #f0f0f0;
  --color-white: #ffffff;
  --color-error-red: #c80000;
  --color-theme-datapay: #ccf8fa;
  --color-theme-datascape: #e4d4ff;
  --color-theme-gateway: #fff0cc;
  --color-theme-timpani: #cce3fb;
  --color-social-linkedin: #0077b5;
  --color-social-twitter: #1da1f2;
  --color-social-youtube: #c4302b;
  --color-social-facebook: #3b5998;
  --font-14-size: 14px;
  --font-14-line-height: 18px;
  --font-16-size: 16px;
  --font-16-line-height: 24px;
  --font-18-size: 18px;
  --font-18-line-height: 24px;
  --font-24-size: 24px;
  --font-24-line-height: 32px;
  --font-32-size: 32px;
  --font-32-line-height: 40px;
  --font-40-size: 40px;
  --font-40-line-height: 48px;
  --font-48-size: 48px;
  --font-48-line-height: 64px;
  --font-64-size: 64px;
  --font-64-line-height: 80px;
  --font-80-size: 80px;
  --font-80-line-height: 100px;
  --font-color-default: #000a14;
  --font-color-cta: #002bfe;
  --font-color-caption: #666666;
  --font-h-1-size: 80px;
  --font-h-1-line-height: 100px;
  --font-h-2-size: 64px;
  --font-h-2-line-height: 80px;
  --font-h-3-size: 48px;
  --font-h-3-line-height: 64px;
  --font-h-4-size: 40px;
  --font-h-4-line-height: 48px;
  --font-h-5-size: 32px;
  --font-h-5-line-height: 40px;
  --font-h-6-size: 24px;
  --font-h-6-line-height: 32px;
  --font-cta-size: 18px;
  --font-cta-line-height: 24px;
  --font-body-size: 16px;
  --font-body-line-height: 24px;
  --font-captions-size: 14px;
  --font-captions-line-height: 18px;
  --breakpoint-mobile-01: 400px;
  --breakpoint-mobile: 500px;
  --breakpoint-mobile-02: 600px;
  --breakpoint-mobile-03: 725px;
  --breakpoint-mobile-04: 768px;
  --breakpoint-tablet: 900px;
  --breakpoint-tablet-01: 1100px;
  --breakpoint-tablet-02: 1112px;
  --breakpoint-tablet-03: 1113px;
  --breakpoint-desktop: 1300px;
  --breakpoint-desktop-01: 1500px;
  --icon-20-size: 20px;
  --icon-20-line-height: 20px;
  --icon-24-size: 24px;
  --icon-24-line-height: 24px;
  --text-indent: 80px;
  --letter-spacing-large: -0.5px;
  --letter-spacing-small: -0.2px;
  --header-height-desktop: 80px;
  --header-height-mobile: 60px;
  --max-width-desktop: 1256px;
  --max-width-mobile: 100%;
  --spacing-padding-01: 4px;
  --spacing-padding-02: 8px;
  --spacing-padding-03: 12px;
  --spacing-padding-04: 16px;
  --spacing-padding-05: 24px;
  --spacing-padding-06: 32px;
  --spacing-padding-07: 40px;
  --spacing-padding-08: 48px;
  --spacing-padding-09: 64px;
  --spacing-layout-01: 12px;
  --spacing-layout-02: 16px;
  --spacing-layout-03: 24px;
  --spacing-layout-04: 32px;
  --spacing-layout-05: 40px;
  --spacing-layout-06: 48px;
  --spacing-layout-07: 64px;
  --spacing-layout-08: 80px;
  --spacing-layout-09: 120px;
  --typography-font-family-200: 'Montserrat Extra Light', sans-serif;
  --typography-font-family-300: 'Montserrat Light', sans-serif;
  --typography-font-family-400: 'Montserrat Regular', sans-serif;
  --typography-font-family-500: 'Montserrat Medium', sans-serif;
  --typography-font-family-600: 'Montserrat Semi Bold', sans-serif;
  --typography-font-family-700: 'Montserrat Bold', sans-serif;
  --typography-font-family-v-2-200: 'Montserrat Regular', sans-serif;
  --typography-font-family-v-2-300: 'Montserrat Semi Bold', sans-serif;
  --typography-font-family-v-2-400: 'Montserrat Semi Bold', sans-serif;
  --typography-font-family-v-2-500: 'Montserrat Light', sans-serif;
  --typography-font-family-v-2-600: 'Montserrat Light', sans-serif;
  --typography-font-family-v-2-700: 'Montserrat Light', sans-serif;
}
